body{margin:0;padding:0}a{color:inherit;text-decoration:none}*{box-sizing:border-box}
.DJlEjkQNovUssYGijfVN{text-align:center;margin:16px auto 0;min-width:200px;max-width:400px;width:100%;height:400px;background:pink url(images/favicon2.png) center;border-radius:8px}.DJlEjkQNovUssYGijfVN h1{color:#900}
