/* make the customizations */
$primary: #0074d9;
$danger: #ff4136;

$theme-colors: (
  "primary": $primary,
  "secondary": tomato,
  "danger": $danger,
  "success": purple,
);

@import "~bootstrap/scss/bootstrap";
